/* style.css */

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

/* header */
#main_header {
    background: #E39E1C;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 70px;
}
#main_header > div {
    position: relative;
}
#main_header > div > h1 > a {
    position: absolute;
    left: 10px;
    line-height: 70px;
    color: #fff;
}

/* gnb */
#gnb {
    /* background: #ccc; */
    /* outline: 2px solid red; */
    margin: 0 auto;
    height: 70px;
    /* overflow: hidden; */
    position: relative;
}
#gnb > .menu {
    position: absolute;
    right: 0px;
}
#gnb > .menu > li {
    float: left;
    width: 150px;
    text-align: center;
    line-height: 70px;
}
#gnb > .menu > li > a {
    display: block;
    text-transform: uppercase;
    color: #fff;
}
#gnb > .menu > li > a:hover {
    background: #fff;
    color: #e39e1c;
}

/* visual */
#visual {
    outline: 2px solid red;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-image: url(../images/main_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffe7ba;
}
#visual > h1 {
    font-size: 100px;
    padding-top: 300px;
}
#visual > p {
    font-size: 24px;
    padding-top: 20px;
}
#visual > .scroll_down {
    display: block;
    background-image: url(../images/scroll_down_icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    text-indent: -9999px;
    position: absolute;
    left: 50%;
    bottom: 10px;
}